node_modules/
.terraform/
infrastructure/.terraform/
infrastructure/.terraform/providers/
.terraform/
infrastructure/.terraform/
infrastructure/.terraform/providers/
.terraform/
infrastructure/.terraform/
infrastructure/.terraform/providers/
.terraform/
infrastructure/.terraform/
infrastructure/.terraform/providers/
